PORT=3000
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OAUTH_SERVER_URL=https://viva-sterya-inventory-production.up.railway.app
CLIENT_URL=https://viva-sterya-inventory.vercel.app
DATABASE_URL=
